 @import url('https://fonts.googleapis.com/css?family=Lora|Roboto|Ubuntu');
 /*


     font-family: 'Roboto', sans-serif;

     font-family: 'Lora', serif;

     font-family: 'Ubuntu', sans-serif;


 */
.contenedor{
  width: 80% !important;
}
.letrasBage{
  font-size: 1.5em !important;
}
.navbar{
  height: 80px !important ;
  color: white !important;
  font-size: 1.3em !important;
  background-color: #20232c !important;
}
.p{
  font-size: 1.3 !important;
}
.sombreado{
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2) !important;
  box-shadow:0 1px 10px rgba(0,0,0,.2) !important;
}
body{
  background-color: #eaedf1 !important;
}
