 @import url('https://fonts.googleapis.com/css?family=Lora|Roboto|Ubuntu');
 /*


     font-family: 'Roboto', sans-serif;

     font-family: 'Lora', serif;

     font-family: 'Ubuntu', sans-serif;


 */
.contenedor{
  width: 80% !important;
}
